<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>MCS</title>
      <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/dashboardcal.css">
   </head>
   <body style="background: rgb(19,39,86);">
      <nav class="navbar navbar-light navbar-expand shadow mb-4 topbar static-top" style="background: rgb(25,46,96);">
         <div class="container-fluid">
            <ul class="nav navbar-nav flex-nowrap ml-auto">
               <li class="nav-item dropdown no-arrow">
                  <div class="nav-item dropdown no-arrow">
                     <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(255,255,255);"><span class="d-none d-lg-inline mr-2 text-gray-600 small" style="color: rgb(255,255,255);">Test Iing Name</span><img class="border rounded-circle img-profile" src="avatars/avatar1.jpeg"></a>
                     <div
                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                        <a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </nav>
      <br />
      <div class="cd-schedule loading">
          <div class="timeline">
              <ul>
                  <li><span>09:00</span></li>
                  <li><span>09:30</span></li>
                  <li><span>10:00</span></li>
                  <li><span>10:30</span></li>
                  <li><span>11:00</span></li>
                  <li><span>11:30</span></li>
                  <li><span>12:00</span></li>
                  <li><span>12:30</span></li>
                  <li><span>13:00</span></li>
                  <li><span>13:30</span></li>
                  <li><span>14:00</span></li>
                  <li><span>14:30</span></li>
                  <li><span>15:00</span></li>
                  <li><span>15:30</span></li>
                  <li><span>16:00</span></li>
                  <li><span>16:30</span></li>
                  <li><span>17:00</span></li>
                  <li><span>17:30</span></li>
                  <li><span>18:00</span></li>
              </ul>
          </div> <!-- .timeline -->

          <div class="events">
              <ul class="wrap">
                  <li class="events-group">
                      <div class="top-info"><span>Monday</span></div>
                      <ul>
                          <li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
                              <a href="#0">
                                  <em class="event-name">Abs Circuit</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2">
                              <a href="#0">
                                  <em class="event-name">Rowing Workout</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="14:00" data-end="15:15"  data-content="event-yoga-1" data-event="event-3">
                              <a href="#0">
                                  <em class="event-name">Yoga Level 1</em>
                              </a>
                          </li>
                      </ul>
                  </li>

                  <li class="events-group">
                      <div class="top-info"><span>Tuesday</span></div>

                      <ul>
                          <li class="single-event" data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2">
                              <a href="#0">
                                  <em class="event-name">Rowing Workout</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="11:30" data-end="13:00"  data-content="event-restorative-yoga" data-event="event-4">
                              <a href="#0">
                                  <em class="event-name">Restorative Yoga</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="13:30" data-end="15:00" data-content="event-abs-circuit" data-event="event-1">
                              <a href="#0">
                                  <em class="event-name">Abs Circuit</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3">
                              <a href="#0">
                                  <em class="event-name">Yoga Level 1</em>
                              </a>
                          </li>
                      </ul>
                  </li>

                  <li class="events-group">
                      <div class="top-info"><span>Wednesday</span></div>

                      <ul>
                          <li class="single-event" data-start="09:00" data-end="10:15" data-content="event-restorative-yoga" data-event="event-4">
                              <a href="#0">
                                  <em class="event-name">Restorative Yoga</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="10:45" data-end="11:45" data-content="event-yoga-1" data-event="event-3">
                              <a href="#0">
                                  <em class="event-name">Yoga Level 1</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="12:00" data-end="13:45"  data-content="event-rowing-workout" data-event="event-2">
                              <a href="#0">
                                  <em class="event-name">Rowing Workout</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="13:45" data-end="15:00" data-content="event-yoga-1" data-event="event-3">
                              <a href="#0">
                                  <em class="event-name">Yoga Level 1</em>
                              </a>
                          </li>
                      </ul>
                  </li>

                  <li class="events-group">
                      <div class="top-info"><span>Thursday</span></div>

                      <ul>
                          <li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
                              <a href="#0">
                                  <em class="event-name">Abs Circuit</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="12:00" data-end="13:45" data-content="event-restorative-yoga" data-event="event-4">
                              <a href="#0">
                                  <em class="event-name">Restorative Yoga</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="15:30" data-end="16:30" data-content="event-abs-circuit" data-event="event-1">
                              <a href="#0">
                                  <em class="event-name">Abs Circuit</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="17:00" data-end="18:30"  data-content="event-rowing-workout" data-event="event-2">
                              <a href="#0">
                                  <em class="event-name">Rowing Workout</em>
                              </a>
                          </li>
                      </ul>
                  </li>

                  <li class="events-group">
                      <div class="top-info"><span>Friday</span></div>

                      <ul>
                          <li class="single-event" data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2">
                              <a href="#0">
                                  <em class="event-name">Rowing Workout</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="12:30" data-end="14:00" data-content="event-abs-circuit" data-event="event-1">
                              <a href="#0">
                                  <em class="event-name">Abs Circuit</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3">
                              <a href="#0">
                                  <em class="event-name">Yoga Level 1</em>
                              </a>
                          </li>
                      </ul>
                  </li>
            <!--        -->
            <li class="events-group">
                      <div class="top-info"><span>Saturday</span></div>
                      <ul>
                          <li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
                              <a href="#0">
                                  <em class="event-name">Abs Circuit</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2">
                              <a href="#0">
                                  <em class="event-name">Rowing Workout</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="14:00" data-end="15:15"  data-content="event-yoga-1" data-event="event-3">
                              <a href="#0">
                                  <em class="event-name">Yoga Level 1</em>
                              </a>
                          </li>
                      </ul>
                  </li>
      <!--        -->

            <!--        -->
            <li class="events-group">
                      <div class="top-info"><span>Sunday</span></div>
                      <ul>
                          <li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
                              <a href="#0">
                                  <em class="event-name">Abs Circuit</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2">
                              <a href="#0">
                                  <em class="event-name">Rowing Workout</em>
                              </a>
                          </li>

                          <li class="single-event" data-start="14:00" data-end="15:15"  data-content="event-yoga-1" data-event="event-3">
                              <a href="#0">
                                  <em class="event-name">Yoga Level 1</em>
                              </a>
                          </li>
                      </ul>
                  </li>
      <!--        -->
              </ul>
          </div>

          <div class="event-modal">
              <header class="header">
                  <div class="content">
                      <span class="event-date"></span>
                      <h3 class="event-name"></h3>
                  </div>

                  <div class="header-bg"></div>
              </header>

              <div class="body">
                  <div class="event-info"></div>
                  <div class="body-bg"></div>
              </div>

              <a href="#0" class="close">Close</a>
          </div>

          <div class="cover-layer"></div>
      </div> <!-- .cd-schedule -->

      <script src="static/js/jquery.min.js"></script>
      <script src="static/bootstrap/js/bootstrap.min.js"></script>
      <script src="static/js/bs-init.js"></script>
      <script src="static/js/dashboardcal.js"></script>
   </body>
</html>