<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <script src="../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #176939;">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="/"><i class="fas fa-home"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/registration"><i class="fab fa-wpforms"></i><span>Registration</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span><img class="border rounded-circle img-profile" src="static/img/avatars/avatar1.jpeg"></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <a
                                            class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0">Dashboard</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Earnings (monthly)</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>$40,000</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-success py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Earnings (annual)</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>$215,000</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-info py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Tasks</span></div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>50%</span></div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span class="sr-only">50%</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-warning py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Pending Requests</span></div>
                                        <div class="text-dark font-weight-bold h5 mb-0"><span>18</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-xl-8">
                        <div class="card shadow" style="margin-bottom: 24px;">
                            <div class="card-header py-3">
                                <p class="m-0 font-weight-bold" style="color: #176939;">Schedule</p>
                            </div>
                            <div class="card-body" id="schedule_main">
                                <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
                                    <div class="cd-schedule__timeline">
                                      <ul>
                                        <li><span>6am</span></li>
                                        <li><span>7am</span></li>
                                        <li><span>8am</span></li>
                                        <li><span>9am</span></li>
                                        <li><span>10am</span></li>
                                        <li><span>11am</span></li>
                                        <li><span>12pm</span></li>
                                        <li><span>1pm</span></li>
                                        <li><span>2pm</span></li>
                                        <li><span>3pm</span></li>
                                        <li><span>4pm</span></li>
                                        <li><span>5pm</span></li>
                                        <li><span>6pm</span></li>
                                        <li><span>7pm</span></li>
                                        <li><span>8pm</span></li>
                                        <li><span>9pm</span></li>
                                        <li><span>10pm</span></li>
                                        <li><span>11pm</span></li>
                                      </ul>
                                    </div> <!-- .cd-schedule__timeline -->

                                    <div class="cd-schedule__events">
                                      <ul>
                                        <li class="cd-schedule__group">
                                          <div class="cd-schedule__top-info"><span>Monday</span></div>

                                          <ul>
                                            <li class="cd-schedule__event">
                                              <a data-start="09:30am" data-end="10:30am" data-content="event-abs-circuit" data-event="event-1" href="#0">
                                                <em class="cd-schedule__name">Abs Circuit</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="11:00am" data-end="12:30pm" data-content="event-rowing-workout" data-event="event-2" href="#0">
                                                <em class="cd-schedule__name">Rowing Workout</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="2:00pm" data-end="3:15pm"  data-content="event-yoga-1" data-event="event-3" href="#0">
                                                <em class="cd-schedule__name">Yoga Level 1</em>
                                              </a>
                                            </li>
                                          </ul>
                                        </li>

                                        <li class="cd-schedule__group">
                                          <div class="cd-schedule__top-info"><span>Tuesday</span></div>

                                          <ul>
                                            <li class="cd-schedule__event">
                                              <a data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2" href="#0">
                                                <em class="cd-schedule__name">Rowing Workout</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="11:30" data-end="13:00"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                                                <em class="cd-schedule__name">Restorative Yoga</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="13:30" data-end="15:00" data-content="event-abs-circuit" data-event="event-1" href="#0">
                                                <em class="cd-schedule__name">Abs Circuit</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3" href="#0">
                                                <em class="cd-schedule__name">Yoga Level 1</em>
                                              </a>
                                            </li>
                                          </ul>
                                        </li>

                                        <li class="cd-schedule__group">
                                          <div class="cd-schedule__top-info"><span>Wednesday</span></div>

                                          <ul>
                                            <li class="cd-schedule__event">
                                              <a data-start="09:00" data-end="10:15" data-content="event-restorative-yoga" data-event="event-4" href="#0">
                                                <em class="cd-schedule__name">Restorative Yoga</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="10:45" data-end="11:45" data-content="event-yoga-1" data-event="event-3" href="#0">
                                                <em class="cd-schedule__name">Yoga Level 1</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="12:00" data-end="13:45"  data-content="event-rowing-workout" data-event="event-2" href="#0">
                                                <em class="cd-schedule__name">Rowing Workout</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="13:45" data-end="15:00" data-content="event-yoga-1" data-event="event-3" href="#0">
                                                <em class="cd-schedule__name">Yoga Level 1</em>
                                              </a>
                                            </li>
                                          </ul>
                                        </li>

                                        <li class="cd-schedule__group">
                                          <div class="cd-schedule__top-info"><span>Thursday</span></div>

                                          <ul>
                                            <li class="cd-schedule__event">
                                              <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                                                <em class="cd-schedule__name">Abs Circuit</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="12:00" data-end="13:45" data-content="event-restorative-yoga" data-event="event-4" href="#0">
                                                <em class="cd-schedule__name">Restorative Yoga</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="15:30" data-end="16:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                                                <em class="cd-schedule__name">Abs Circuit</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="17:00" data-end="18:30"  data-content="event-rowing-workout" data-event="event-2" href="#0">
                                                <em class="cd-schedule__name">Rowing Workout</em>
                                              </a>
                                            </li>
                                          </ul>
                                        </li>

                                        <li class="cd-schedule__group">
                                          <div class="cd-schedule__top-info"><span>Friday</span></div>

                                          <ul>
                                            <li class="cd-schedule__event">
                                              <a data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2" href="#0">
                                                <em class="cd-schedule__name">Rowing Workout</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="12:30" data-end="14:00" data-content="event-abs-circuit" data-event="event-1" href="#0">
                                                <em class="cd-schedule__name">Abs Circuit</em>
                                              </a>
                                            </li>

                                            <li class="cd-schedule__event">
                                              <a data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3" href="#0">
                                                <em class="cd-schedule__name">Yoga Level 1</em>
                                              </a>
                                            </li>
                                          </ul>
                                        </li>
                                      </ul>
                                    </div>

                                    <div class="cd-schedule-modal">
                                      <header class="cd-schedule-modal__header">
                                        <div class="cd-schedule-modal__content">
                                          <span class="cd-schedule-modal__date"></span>
                                          <h3 class="cd-schedule-modal__name"></h3>
                                        </div>

                                        <div class="cd-schedule-modal__header-bg"></div>
                                      </header>

                                      <div class="cd-schedule-modal__body">
                                        <div class="cd-schedule-modal__event-info"></div>
                                        <div class="cd-schedule-modal__body-bg"></div>
                                      </div>

                                      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
                                    </div>

                                    <div class="cd-schedule__cover-layer"></div>
                                </div> <!-- .cd-schedule -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-4">
                        <div class="card shadow" style="margin-bottom: 24px;">
                            <div class="card-header py-3">
                                <p class="m-0 font-weight-bold" style="color: #176939;">My Course List</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table mt-2 results" id="dataTable-0" role="grid" aria-describedby="dataTable_info">
                                    <table class="table my-0" id="dataTable1">
                                        <thead>
                                            <tr>
                                                <th>Courses</th>
                                                <th style="text-align: right; padding-right: 19px;"><i class="fa fa-eye"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr></tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
            <div class="card shadow" style="margin-bottom: 24px;">
                <div class="card-header py-3">
                    <p class="m-0 font-weight-bold" style="color: #176939;">Courses</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="dataTable_filter" class="dataTables_filter"><label style="width: 300px;"><input type="search" class="search form-control" aria-controls="dataTable" placeholder="Search" style="border-radius: 14px;"></label></div>
                        </div>
                    </div>
                    <div class="table-responsive table mt-2 results" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>CRN</th>
                                    <th>Course Name</th>
                                    <th>Meeting Times</th>
                                    <th>Instructor</th>
                                    <th>Credits</th>
                                    <th>Location</th>
                                    <th>Type</th>
                                    <th>Schedule Type</th>
                                    <th>Add/Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for res in courses %}
                                <tr>
                                    <td>{{res.key.id_or_name}}</td>
                                    <td>{{res['Title']}}</td>
                                    <td>{{res['MeetingTimes']}}</td>
                                    <td>{{res['Instructor']}}</td>
                                    <td>{{res['Credits']}}</td>
                                    <td>{{res['Location']}}</td>
                                    <td>{{res['Type']}}</td>
                                    <td>{{res['ScheduleType']}}</td>
                                    <td><div class="custom-control custom-checkbox"><input class="custom-control-input" name="checkbox" type="checkbox" id="package_{{res.key.id_or_name}}"><label class="custom-control-label" for="package_{{res.key.id_or_name}}"></label></div></td>

                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary font-weight-bold m-0">Projects</h6>
                        </div>
                        <div class="card-body">
                            <h4 class="small font-weight-bold">Server migration<span class="float-right">20%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="sr-only">20%</span></div>
                            </div>
                            <h4 class="small font-weight-bold">Sales tracking<span class="float-right">40%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="sr-only">40%</span></div>
                            </div>
                            <h4 class="small font-weight-bold">Customer Database<span class="float-right">60%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60%</span></div>
                            </div>
                            <h4 class="small font-weight-bold">Payout Details<span class="float-right">80%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>
                            </div>
                            <h4 class="small font-weight-bold">Account setup<span class="float-right">Complete!</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="sr-only">100%</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary font-weight-bold m-0">Todo List</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">10:30 AM</span></div>
                                    <div class="col-auto">
                                        <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1"></label></div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">11:30 AM</span></div>
                                    <div class="col-auto">
                                        <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-2"><label class="custom-control-label" for="formCheck-2"></label></div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">12:30 AM</span></div>
                                    <div class="col-auto">
                                        <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-3"><label class="custom-control-label" for="formCheck-3"></label></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card text-white bg-primary shadow">
                                <div class="card-body">
                                    <p class="m-0">Primary</p>
                                    <p class="text-white-50 small m-0">#4e73df</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card text-white bg-success shadow">
                                <div class="card-body">
                                    <p class="m-0">Success</p>
                                    <p class="text-white-50 small m-0">#1cc88a</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card text-white bg-info shadow">
                                <div class="card-body">
                                    <p class="m-0">Info</p>
                                    <p class="text-white-50 small m-0">#36b9cc</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card text-white bg-warning shadow">
                                <div class="card-body">
                                    <p class="m-0">Warning</p>
                                    <p class="text-white-50 small m-0">#f6c23e</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card text-white bg-danger shadow">
                                <div class="card-body">
                                    <p class="m-0">Danger</p>
                                    <p class="text-white-50 small m-0">#e74a3b</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card text-white bg-secondary shadow">
                                <div class="card-body">
                                    <p class="m-0">Secondary</p>
                                    <p class="text-white-50 small m-0">#858796</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
        </div>
    </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
    <script src="../static/js/main.js"></script>
    <script src="../static/js/chart.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" integrity="sha512-s/XK4vYVXTGeUSv4bRPOuxSDmDlTedEpMEcAQk0t/FMd9V6ft8iXdwSBxV0eD60c6w/tjotSlKu9J2AAW1ckTA==" crossorigin="anonymous"></script>
    <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
    <script src="../static/js/Table-With-Search.js"></script>
    <script src="../static/js/theme.js"></script>
</body>

</html>