<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script>
        function start() {
          gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
              client_id: '278223618706-d5fg9uhluipegt7dr1hgjrvrs6i1j93n.apps.googleusercontent.com'
              // Scopes to request in addition to 'profile' and 'email'
              //scope: 'additional'
            });
          });
        }
    </script>
    <title>Registration</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #176939;">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/registration"><i class="fab fa-wpforms"></i><span>Registration</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown no-arrow"><a class="btn btn-link btn-block text-white rubberBand animated btn-google" role="button" id="signinButton" style="font-size: 11px;background: rgb(40,100,255);"><i class="fab fa-google"></i>&nbsp; &nbsp; Google Login</a></li>
                        </ul>
                        <div class="d-none d-sm-block topbar-divider"></div>
                        <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-4"><label class="custom-control-label" for="formCheck-1"></label></div><i class="fa fa-wheelchair"></i></div>
                </nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Registration</h3>
                <div class="row">
                    <div class="col">
                        <div class="shadow card" style="margin-top: 5px;margin-bottom: 10px;"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1" role="button">Autofill PDF (Google Login Required)</a>
                            <div class="collapse show" id="collapse-1">
                                <div class="card-body">
                                    <p class="m-0">This feature allows data other than your course information to be filled in the PDF form and also saved to our secure database. To use this feature please sign in with your Manhattan College Google Account.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow card" style="margin-top: 5px;margin-bottom: 10px;"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-4" href="#collapse-4" role="button">About Our Registration System</a>
                    <div class="collapse show" id="collapse-4">
                        <div class="card-body">
                            <p class="m-0">This is a collapsable card rusing Bootstrap's built in collapse functionality.&nbsp;<strong>Click on the card header</strong>&nbsp;to see the card body collapse and expand!</p>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow border-left-warning py-2" style="margin-top: 20px;margin-bottom: 10px;">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col mr-2">
                                                    <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Courses Selected</span></div>
                                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{courses}}</span></div>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-book-open fa-2x text-gray-300"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow border-left-success py-2" style="margin-top: 20px;margin-bottom: 10px;">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col mr-2">
                                                    <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Total Credits selected</span></div>
                                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{cred}}</span></div>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-chart-bar fa-2x text-gray-300"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Registration Form</p>
            </div>
            <div class="card-body" style="height:1120px;">
                <object data="{{path}}" type="application/pdf" width="100%" height="100%"></object>
            </div>
        </div>
    </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
        </div>
    </footer>
    </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/chart.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="static/js/theme.js"></script>
    <script>
        $('#tts').on('change', function() {
            if (this.checked){
                location.reload();
            } else {
                location.reload();
            };
        });
    </script>
    <script>
        $('#signinButton').click(function() {
            auth2.grantOfflineAccess().then(signInCallback);
        });
    </script>
    <script>
        function signInCallback(authResult) {
          if (authResult['code']) {

            // Send the code to the server
            $.ajax({
              type: 'POST',
              url: 'http://localhost:5000/login/callback',
              // Always include an `X-Requested-With` header in every AJAX request,
              // to protect against CSRF attacks.
              headers: {
                'X-Requested-With': 'XMLHttpRequest'
              },
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                window.location.href = "/registration";
              },
              processData: false,
              data: authResult['code']
            });
          } else {
            // There was an error.
          }
        }
    </script>
</body>

</html>